{% extends "layout.html" %}

{% block content %}
<h1 class="text-center my-5 text-info">Invoice List</h1>

<!-- <h3 class="mb-3">Invoice List</h3> -->
<a href="{{ url_for('new_invoice') }}" class="btn btn-sm btn-info mb-4">New Invoice</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Invoice ID</th>
      <th>Client Name</th>
      <th>Issue Date</th>
      <th>Created By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in data.invoices %}
    <tr>
      <td>{{ invoice.id }}</td>
      <td>{{ invoice.client_name }}</td>
      <td>{{ invoice.issue_date.strftime("%B %d, %Y") }}</td>
      <td>{{ invoice.user.username }}</td>
      <td><a href="{{ url_for('download_invoice', invoice_id=invoice.id) }}" class="btn btn-info btn-sm">Download Invoice</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}